server {
    listen 80;
    server_name mdb;

    access_log logs/mdb.access.log main;

    location / {
        include enable_sso;
        proxy_pass http://localhost:20000;
        include proxy_params;
    }
}
