server {
    listen 80;
    server_name mdbsync;

    access_log logs/mdbsync.access.log main;

    location / {
        proxy_pass http://localhost:20010;
        include long_polling;
        include proxy_params;
    }
}
