server {
    listen 80;
    server_name presencesync;

    access_log logs/presencesync.access.log main;

    location / {
        proxy_pass http://localhost:20060;
        include long_polling;
        include proxy_params;
    }
}
