upstream redmine {
    server 127.0.0.1:20120 fail_timeout=0;
    server 127.0.0.1:20121 fail_timeout=0;
    server 127.0.0.1:20122 fail_timeout=0;
    server 127.0.0.1:20123 fail_timeout=0;
}

server {
    listen 80;
    server_name redmine;
    root /var/prologin/redmine/public;

    access_log logs/redmine.access.log main;

    location / {
        try_files $uri/index.html $uri.html $uri @redmineproxy;
    }

    location @redmineproxy {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        include enable_sso;
        proxy_pass http://redmine;
        include proxy_params;
    }
}

# Some vhosts for easy access
server {
    listen 80;
    server_name bug bugs;
    return 302 http://redmine/projects/prologin/issues;
}

server {
    listen 80;
    server_name wiki;
    return 302 http://redmine/projects/prologin/wiki;
}
