server {
    listen 80;
    server_name udb;

    access_log logs/udb.access.log main;

    include sso/handler;

    location / {
        proxy_pass http://localhost:20080;
        include include/proxy_params;
        include sso/protect;
    }
}
