server {
    listen 80;
    server_name grafana;

    access_log logs/grafana.access.log main;

    location / {
        proxy_pass http://localhost:3000;
        include include/proxy_params;
    }
}
