[Unit]
Description=Prometheus service
After=network.target

[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/bin/prometheus --config.file=/etc/prometheus/prometheus.yml  --storage.tsdb.path=/var/lib/prometheus/data --web.listen-address="127.0.0.1:9090"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
