server {
    listen 80;
    server_name prometheus;

    access_log logs/prometheus.access.log main;

    location / {
        allow 192.168.1.0/24;
        deny all;

        proxy_pass http://localhost:9090;
        include include/proxy_params;
    }
}
