{% extends "stechec/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Connexion{% endblock %}
{% block titleh1 %}Connexion{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "login" %}Connexion{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}

  {% if settings.CONCOURS_ONLINE_MODE %}
    <a class="btn btn-primary btn-lg" href="{% url 'proloauth_client:autologin'%}">Connexion avec prologin.org</a>
  {% else %}
    {% crispy form %}
  {% endif %}

{% endblock %}
