{% extends "stechec/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ tournament.name }} – Tournoi{% endblock %}
{% block titleh1 %}Détails du tournoi {{ tournament.name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "tournaments-all" %}Tournois{% endbreadcrumb_for %}
  {% breadcrumb_for "tournament-detail" tournament.id %}{{ tournament.name }}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}

<h2>Classement</h2>

{% if request.user.is_staff %}
<div style="text-align: right; margin: 10px">
  <a href="{% url 'tournament-hall-of-fame' tournament.id %}"
    class="btn btn-default">
    <i class="fa fa-list-ol"></i>
    Exporter le classement
  </a>
  <a href="{% url 'tournament-print-ranking' tournament.id %}" target="_blank"
    class="btn btn-default">
    <i class="fa fa-trophy"></i>
    Imprimer le classement
  </a>
  <a href="{% url 'tournament-jury-report' tournament.id %}" target="_blank"
    class="btn btn-default">
    <i class="fa fa-gavel"></i>
    Imprimer le rapport de jury
  </a>
</div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th width="2em"></th>
            <th>Rang</th>
            <th>Candidat</th>
            <th>Champion</th>
            <th>Langage</th>
            <th>Score</th>
            <th width="220em">Actions</th>
            {% if request.user.is_staff %}
            <th width="2em">Jury</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for player in view.players %}
        <tr>
          <td>{% if player.rank <= 3 %}
            <span class="challenge-trophy-{{ player.rank }}">
              <i class="fa fa-trophy"></i>
            </span>
            {% endif %}</td>
            <td>{{ player.rank }} {% if player.ex_aequo %}(ex-aequo){% endif %}</td>
            <td>{{ player.champion.author.username }}</td>
            <td><a href="{{ player.champion.get_absolute_url }}">
                {{ player.champion.name }}</a></td>
            <td style="color: {{ player.champion.language.color }}">
              <strong>{{ player.champion.language.name }}</strong></td>
            <td>{{ player.score }}</td>
            <td>
              <a href="{% url 'tournament-matches-view' pk=tournament.pk champion=player.champion.pk %}"
                 class="btn btn-default btn-xs"><i class="fa fa-info"></i>
                 Détails des matchs
              </a>
              {% if request.user.is_staff %}
              <a href="{% url 'tournament-correct' pk=tournament.pk player=player.pk %}"
                 class="btn btn-default btn-xs {% if player.correction %}btn-success{% endif %}">
                <i class="fa fa-pencil-square-o"></i>
                Corriger
              </a>
              {% endif %}

            </td>
            {% if request.user.is_staff %}
            <td class="text-center">
              {% if player.correction.include_jury_report %}
                <i class="fa fa-star official-map"></i>
              {% endif %}
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-muted"><i class="fa fa-frown-o"></i>
              Aucun champion dans ce tournoi.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Statistiques</h2>

<div id="graph_lang_share" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<div id="graph_plot_sloc" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/highcharts.src.js' %}" type="text/javascript"></script>
<script type="text/javascript">
var plot_sloc_chart = {
  chart: {
    type: 'scatter',
    zoomType: 'xy',
    backgroundColor: null,
  },
  credits: {
      enabled: false
  },
  title: {
    text: 'Score en fonction du nombre de lignes de code'
  },
  xAxis: {
    title: {
      enabled: true,
      text: 'Lignes de code'
    },
    startOnTick: true,
    endOnTick: true,
    showLastLabel: true
  },
  yAxis: {
    title: {
      text: 'Score'
    }
  },
  plotOptions: {
    scatter: {
      marker: {
        radius: 5,
        states: {
          hover: {
            enabled: true,
            lineColor: 'rgb(100,100,100)'
          }
        }
      },
      states: {
        hover: {
          marker: {
            enabled: false
          }
        }
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '<b>{point.author}</b><br/>{point.name} ({series.name})'
      }
    }
  }
};

var lang_share_chart = {
  chart: {
    type: 'pie',
    backgroundColor: null,
    plotBorderWidth: 0,
    plotShadow: false
  },
  credits: {
      enabled: false
  },
  title: {
    text: 'Langages<br/>utilisés',
    align: 'center',
    verticalAlign: 'middle',
    y: 40
  },
  tooltip: {
    pointFormat: "<b>{point.y} champions</b> ({point.percentage:.1f}%)"
  },
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: true,
        distance: -50,
        style: {
          fontWeight: 'bold',
          color: 'white'
        }
      },
      startAngle: -90,
      endAngle: 90,
      center: ['50%', '75%'],
      size: '110%'
    }
  },
  series: [{
    name: 'Langages',
    innerSize: '50%',
    data: []
  }]
};

$.getJSON('/api/tournaments/{{ tournament.id }}/plot_sloc/', function(data) {
  plot_sloc_chart.series = data;
  Highcharts.chart('graph_plot_sloc', plot_sloc_chart);
});

$.getJSON('/api/tournaments/{{ tournament.id }}/lang_share/', function(data) {
  lang_share_chart.series[0].data = data;
  Highcharts.chart('graph_lang_share', lang_share_chart);
});
</script>
{% endblock %}
