{% extends "stechec/printable-base.html" %}

{% block title %}Classement final{% endblock %}
{% block subtitle %}Classement final{% endblock %}

{% block content %}
<table>
  <tr>
    <td>
      <ul style="font-size: 1.2em;">
        {% for player in view.jury_players %}
        <li>{{ forloop.counter }} — ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿</li>
        {% endfor %}
        {% for player in view.players %}
        {% if not player.correction.include_jury_report %}
        <li>{{ player.rank }} {% if player.ex_aequo %}(ex-aequo){% endif %} — {{ player.champion.author.get_full_name }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </td>
    <td style="vertical-align: top; padding-left: 3cm;">
      <div style="width: 7cm;">
        <h4>Sélectionnés au jury</h4>
        <ul style="font-size: 1.2em;">
          {% for player in view.jury_players %}
          <li>{{ player.champion.author.get_full_name }}</li>
          {% endfor %}
        </ul>
      </div>
    </td>
  </tr>
</table>

{% endblock %}
