{% extends "stechec/printable-base.html" %}
{% load markdownify %}

{% block title %}Rapport de Jury{% endblock %}
{% block subtitle %}Rapport de Jury{% endblock %}

{% block content %}
<h2>Exemple de déroulement d'une soutenance (10 minutes)</h2>

<p><em>Les temps sont approximatifs, mais il est important de ne pas dépasser
10 minutes. Le jury peut se présenter brièvement au début de la
soutenance.</em></p>

<h4>Questions préalables — 1 minute <small>(mise en confiance)</small></h4>
<ul>
  <li>Peux-tu te présenter ? Que fais-tu dans la vie ?</li>
  <li>Que comptes-tu faire plus tard comme études, travail, … ?</li>
  <li>Est-ce ta première participation ?</li>
  <li>T'attendais-tu à arriver à ce stade du concours ?</li>
</ul>

<h4>Questions stratégie — 6-7 minutes</h4>
<ul>
  <li>Peux-tu nous expliquer brièvement ta stratégie ? (4 minutes max)</li>
  <li>Si tu avais eu plus de temps, qu'aurais-tu rajouté à ta stratégie pour l'améliorer ?</li>
  <li>À quel point ta stratégie prend-elle en compte l'adversaire ? Peux-tu t'adapter à son comportement ? Ou préfères-tu plutôt optimiser ta propre stratégie sans prendre en compte l'adversaire ?</li>
  <li>Comment t'es-tu servi des tournois intermédiaires pour améliorer ton champion ?</li>
</ul>

<h4>Questions de fin d'entretien — 2-3 minutes</h4>
<ul>
  <li>Qu'as-tu pensé du sujet ?</li>
  <li>Comment as-tu réussi à gérer ton temps ?</li>
  <li>As-tu pu profiter des activités et suffisamment dormir, ou as-tu passé ton temps à coder ?</li>
  <li>As-tu été surpris par la finale ? Comment as-tu apprécié cette expérience ?</li>
  <li>As-tu des remarques sur l'organisation du concours ?</li>
</ul>

<h2>Candidats</h2>

{% for player in view.jury_players %}
<h3>{{ player.champion.author.get_full_name }}</h3>
<ul>
  <li><strong>Langage :</strong> <strong style="color: {{ player.champion.language.color }}">{{ player.champion.language.name }}</strong></li>
  <li><strong>Lignes de code :</strong> {{ player.champion.sloc }}</li>
  <li><strong>Commentaires :</strong> <p>{% markdownify player.correction.comment %}</p></li>
</ul>
{% endfor %}
{% endblock %}
