server {
    listen 80;
    server_name presencesync;

    access_log logs/presencesync.access.log main;

    location / {
        proxy_pass http://localhost:20060;
        include include/long_polling;
        include include/proxy_params;
    }
}
