all:
  hosts:
    gw:
      ansible_host: mygw

    web:
      ansible_host: myweb

    monitoring:
      ansible_host: mymonitoring

    misc:
      ansible_host: mymisc

  children:
    rhfs:
      hosts:
        rhfs01:
          ansible_host: myrhfs01
          dual_nic: true
          rhfs_setup:
            - {id: 0, mac: "{{ mac }}", aliases: [rhfs01]}
            - {id: 1, mac: "dd:dd:dd:dd:dd:11"}
          rfs_container: rfs01container

        rhfs23:
          ansible_host: myrhfs23
          dual_nic: true
          rhfs_setup:
            - {id: 2, mac: "{{ mac }}", aliases: [rhfs23]}
            - {id: 3, mac: "dd:dd:dd:dd:dd:22"}
          rfs_container: rfs23container

    rfs_container:
      hosts:
        rfs01container:
          ansible_ssh_extra_args: '-J root@myrhfs01'

        rfs23container:
          ansible_ssh_extra_args: '-J root@myrhfs23'

    user:
      vars:
        ansible_ssh_extra_args: '-J root@mygw'

  vars:
    ansible_python_interpreter: python3
    ansible_user: root
    mac: '{{ ansible_default_ipv4.macaddress |
             default(ansible_host0.macaddress) }}'

    container_setup: true

    dhcp_ignore_subnets:
      - subnet: 10.0.0.0
        netmask: 255.255.255.0
      - subnet: 169.254.0.0
        netmask: 255.255.0.0

    rfs_install_extra_packages: false

    contest_started: true
    contest_enabled: true

    contest_end: "2042-12-21 20:00:00"

    concours_game: prologin2019
    concours_use_maps: true
    # concours_static_path: /var/prologin/prologin2019/www/static
    # concours_map_validator_script: /var/prologin/prologin2019/www/validator.py
    # concours_enable_replay: true

    hfs_db_password: 5cf70e56a13c95c2fe40ae38276f469a
    hfs_secret: c39bf626f65dc6769657577bd46ef1e6
    mdb_db_password: c7d1d0be60bfafcdd2d4fbe38eedb8f3
    mdb_secret_key: e20f7bef693662908d68f17c4d25eee3
    mdbsync_secret: 558dca37345477fdca71422e0b0e46a6
    presenced_secret: 5154fe67e519b2efce5d08d26623da38
    presencesync_secret: 8c1f8ee2db32bb0bcce8a60bf424b30f
    udb_db_password: a4d222ae0d0cf8bdebfb789807db1ee5
    udb_secret_key: 8ef6be1682a7d193e6fcac4165383823
    udbauth_secret: 63bfb773c1c88d4d4ba3f55a74fbe4d3
    udbsync_secret: 360ffe37559d4f3128e82b1381625651

    grafana_admin_password: e512131c202c0a23f0092ad705f13385

    nginx_orga_htpasswd: e2dd146660b99877e0afab2a9549c0e4
    concours_db_password: dcf9ccfeb05b3e1da397d3a50c4eb4f7
    concours_secret: 718152674713fda2bef5c89bdf4a54be
    homepage_db_password: 03667d7223b1056d95fe722beef3f6e9
    homepage_secret: 280687f71bc24c07cf08e401bf429b42
    masternode_secret: 67f6f3ac095d28ac4f0c2f1a61e7b722
    redmine_db_password: 7fbf1f3c9e3c97a4db5c5f9ed51dd6ca
    paste_secret: 07f176e64f4c94b91682d11d365ad13e
    paste_db_password: 10b5d0a5dca1f2aa5bb181568a3cfa03
    wiki_secret: 1ef90b4045ee9abff3f59bc9d0fbde87
    wiki_db_password: 79b2172c9d02e766e8443cebf01b0e75

    irc_oper_password: 9555ea4f56f0a714fed5041d5960f820
