server {
    listen 80;
    server_name map;

    access_log logs/map.access.log main;

    location / {
        allow all;
        root /var/prologin/presencesync_usermap;
    }

    location /pattern.svg {
        internal;
    }
}
