{% extends "stechec/base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Suppression du champion{% endblock %}
{% block titleh1 %}Suppression du champion {{ object.name }} <small>#{{ object.id }}</small>{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "champions-all" %}Champions{% endbreadcrumb_for %}
  {% breadcrumb_for "champion-detail" champion.id %}{{ champion.name }}{% endbreadcrumb_for %}
  {% breadcrumb_for "champion-delete" champion.id %}Supprimer{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}

<p>Confirmez la suppression de votre champion&nbsp;:</p>

<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Supprimer {{ object.name }}</button>
</form>

{% endblock %}
