{% extends "stechec/base.html" %}
{% load staticfiles %}

{% block title %}Carte {{ map.name }}{% endblock %}
{% block titleh1 %}Carte {{ map.name }}
  <small>#{{ map.id }}</small>{% endblock %}

{% block content %}

  <p>
    Envoyée par <strong><i class="fa fa-user i-align"></i> {{ map.author }}</strong>.
  {% if map.official %}
    Cette carte est <i class=" fa fa-star official-map"></i> officielle.
  {% endif %}
  </p>

  <h3>Carte au format texte</h3>

  <pre id="map-contents">{{ map.contents }}</pre>

  <h3 id="map-preview-title">Aperçu de la carte</h3>

  <div id="map-preview"></div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/uitools.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/map-preview.js' %}"></script>
{% endblock %}
