{% extends "stechec/base.html" %}
{% load static %}

{% block title %}État des serveurs{% endblock %}
{% block titleh1 %}État des serveurs{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

  <p class="intro">Cette page donne un aperçu de la charge des serveurs de la finale.</p>

  {% if status == None %}
    <p class="alert alert-danger">
      <i class="fa fa-warning"></i> Le serveur de répartition de tâches sur le cluster (<em>masternode</em>) est
      inaccessible.
    </p>
  {% endif %}

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Serveur</th>
      <th>Utilisation</th>
    </tr>
    </thead>
    <tbody>
    {% for host, port, usage in status %}
      <tr>
        <td style="vertical-align: middle;"><tt><strong>{{ host }}</strong>:{{ port }}</tt></td>
        <td>
          <div class="progress no-margin">
            <div class="progress-bar progress-bar-{% if usage > 80 %}danger{% elif usage > 50 %}warning{% else %}success{% endif %}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ usage }}%;">
              <span class="{% if usage < 10 %}narrow{% endif %}">{{ usage }}%</span>
            </div>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="2" class="text-muted"><i class="fa fa-frown-o"></i> Aucun serveur trouvé.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
