{% extends "stechec/base.html" %}
{% load humanize static substract %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Streaming de matchs{% endblock %}
{% block titleh1 %}Streaming de matchs{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "matches-all" %}Matchs{% endbreadcrumb_for %}
  {% breadcrumb_for "match-stream" %}Streaming de matchs{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}
  {% if settings.STECHEC_REPLAY %}
    <div id="replay"
         data-match-id="{{ match.id }}"
         data-match-dump-url="{% url 'match-dump' match.id %}"
         data-match-info-url="{% url 'v1:match-detail' match.id %}">
    </div>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/uitools.js' %}"></script>
  {% if settings.STECHEC_REPLAY %}
    <script type="text/javascript" src="{% static 'js/replay.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/stream.js' %}" async></script>
  {% endif %}
{% endblock %}
