{% extends "stechec/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Lancer un match{% endblock %}
{% block titleh1 %}Lancer un match{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" type="text/css" media="screen">
{% endblock %}

{% block content %}

  {% crispy form %}

{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $(".select2").select2();
    });
  </script>
{% endblock %}
