{% extends "stechec/base.html" %}
{% load humanize static substract %}

{% block title %}Détail du match{% endblock %}
{% block titleh1 %}Détail du match <small>#{{ match.id }}</small>{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Match</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal dl-narrow">
            <dt>ID</dt>
            <dd>{{ match.id }}</dd>
            <dt>État</dt>
            <dd>{% include "stechec/stub_status_match.html" %}</dd>
            <dt>Initié</dt>
            <dd>{{ match.ts|naturalday }} à {{ match.ts|time:"H:i:s" }}</dd>
            <dt>par</dt>
            <dd><i class="fa fa-user i-align"></i> {{ match.author }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Replay</h3>
        </div>
        <div class="panel-body">
          {% if match.is_done %}
            <a href="{% url "match-dump" match.id %}" class="btn btn-default btn-block">
              <i class="fa fa-download"></i> Télécharger</a>
          {% else %}
            <em>Le match n'est pas encore terminé.</em>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <h2>Participants</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID player</th>
      <th>ID champion</th>
      <th>Champion</th>
      <th>Score</th>
      <th>Log</th>
    </tr>
    </thead>
    <tbody>
    {% for player in match.matchplayer_set.all %}
      <tr>
        <td>{{ player.id }}</td>
        <td><a href="{% url 'matches-all' %}?champion={{ player.champion.id }}">{{ player.champion.id }}</a></td>
        <td>{{ player.champion }}</td>
        {% if match.is_done %}
          <td>{{ player.score }}</td>
          <td>
            {% if request.user == player.champion.author or request.user.is_staff %}
              <button data-role="toggler" data-target="#log-{{ player.id }}" class="btn btn-default btn-xs">
                <i class="fa"></i> <span>Afficher</span> le log
              </button>
              <pre id="log-{{ player.id }}">{{ player.log }}</pre>
            {% endif %}
          </td>
        {% else %}
          <td colspan="2"><i class="fa fa-clock-o"></i> <em> Match non terminé</em></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p>
  <button class="btn btn-default" data-role="toggler" data-target="#serv-log"><i class="fa"></i>
      <span>Afficher</span> le log serveur
  </button>
  </p>
  <pre id="serv-log">{{ match.log }}</pre>

  {% if settings.STECHEC_REPLAY %}
    <h2>Replay</h2>
    <div id="replay">
      <div id="replay-board">{# insert graphics here #}</div>
      <div id="replay-legend">
        {% for player in match.matchplayer_set.all %}
          <div class="replay-player" id="replay_p{{ player.id }}" data-id="{{ player.id }}"></div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2">
          <button class="btn btn-default btn-xs" id="replay-playpause"><i class="fa"></i> <span>Lecture</span></button>
          <button class="btn btn-default btn-xs" id="replay-previous"><i class="fa fa-caret-left"></i></button>
          <button class="btn btn-default btn-xs" id="replay-next"><i class="fa fa-caret-right"></i></button>
        </div>
        <div class="col-xs-2">
          Tour <span id="replay-turn-label">0</span>
        </div>
        <div class="col-xs-8">
          <input id="replay-turn-slider" type="range">
        </div>
      </div>
      <p class="text-muted small" style="margin-top: 1em">
        <strong>Navigation clavier</strong>&nbsp;:
        lecture/pause avec <kbd>Espace</kbd>&nbsp;;
        étape précédente/suivante avec <kbd>←</kbd> et <kbd>→</kbd>, combinés à <kbd>Shift</kbd> pour sauter 10 étapes&nbsp;;
        première étape <kbd>a</kbd>, dernière étape <kbd>e</kbd>.
      </p>
    </div>
  {% endif %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/uitools.js' %}"></script>
  {% if settings.STECHEC_REPLAY %}
    <script type="text/javascript" src="{% static 'js/replay.js' %}"></script>
  {% endif %}
{% endblock %}
