{% extends "stechec/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Liste des tournois{% endblock %}
{% block titleh1 %}Liste des tournois{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "tournaments-all" %}Tournois{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}
<p class="intro">Voici la liste de tous les tournois.</p>

{% if is_paginated %}{% load paginator %}{% paginator 5 %}{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tournoi</th>
            <th>Votre score</th>
            <th>Nombre de champions</th>
            <th>Gagnant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournament_list %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.my_score|default:"-" }}</td>
            <td>{{ tournament.num_champions }}</td>
            <td><span class="challenge-trophy-1">
                <i class="fa fa-trophy"></i></span>
                {{ tournament.winner|default:"-" }}</td>
            <td>
              <a href="{{ tournament.get_absolute_url }}"
                 class="btn btn-default btn-xs
                 {% if tournament.winner_id == request.user.id %}tournament-winner{% endif %}">
                <i class="fa fa-info"></i>
                 Détails
              </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-muted"><i class="fa fa-frown-o"></i>
              Aucun tournoi réalisé pour le moment.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if tournament_list|length > 1 %}
<div id="chart_evolution" style="min-width: 310px; max-height: 1000px; max-width: 800px; margin: 0 auto"></div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/highcharts.src.js' %}" type="text/javascript"></script>
<script type="text/javascript">

var chart_evolution = {
  chart: {
    backgroundColor: null,
  },
  title: {
      text: 'Évolution des classements intermédiaires'
  },
  xAxis: {
      text: 'Tournoi'
  },
  yAxis: {
      reversed: true,
      text: 'Rang'
  },
  legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle'
  },
  credits: false,
};

$.getJSON('/api/tournaments/evolution/', function(data) {
  chart_evolution.series = data.series;
  chart_evolution.xAxis.categories = data.categories;
  Highcharts.chart('chart_evolution', chart_evolution);
});
</script>
{% endblock %}
