{% extends "stechec/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ champion.name }} — {{ tournament.name }}{% endblock %}
{% block titleh1 %}
{{ tournament.name }} : matchs de {{ champion.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "tournaments-all" %}Tournois{% endbreadcrumb_for %}
  {% breadcrumb_for "tournament-detail" tournament.id %}{{ tournament.name }}{% endbreadcrumb_for %}
  {% breadcrumb_for "tournament-matches-view" tournament.id champion.id %}Matchs de {{ champion.name }}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block content %}
{% if matrix %}
<table class="table table-striped match-matrix">
  <thead>
    <tr>
      <th>Joueurs</th>
      <th>Auteur</th>
      {% for m in match_range %}
        <th>Match {{ m }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in matrix %}
      <tr>
        <td><a href="{% url 'champion-detail' r.enemy.champion.pk %}">
            {{ r.enemy.champion.name }}</a></td>
        <td>{{ r.enemy.champion.author.username }}</td>
        {% for m in r.matches %}
          <td class="match-matrix-{{ m.result }}">
            <a href="{% url 'match-detail' m.id %}">{{ m.my_score }}</a>
          </td>
        {% empty %}
          <td colspan="8" >Aucun match</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<table class="table table-striped match-matrix">
  <thead>
    <tr>
      <th>Joueurs</th>
      <th>Match</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for match in matches %}
      <tr>
        <td>
          {% for enemy in match.players.all %}
          <a href="{% url 'champion-detail' enemy.id %}">
            {{ enemy.name }}</a>
            (de {{ enemy.author.username }}){% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td><a href="{% url 'match-detail' match.id %}">
            Match #{{ match.id }}</a></td>
        <td class="match-matrix-{{ match.result }}">{{ match.my_score }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
