[Unit]
Description = PresenceSync pubsub service
After = mdb.service

[Service]
Type=simple
User=presencesync
WorkingDirectory=/var/prologin/presencesync
ExecStart=/var/prologin/venv/bin/python presencesync.py 20060

[Install]
WantedBy=multi-user.target
