[Unit]
Description = User map generation daemon

[Service]
Type=simple
User=presencesync_usermap
WorkingDirectory=/var/prologin/presencesync_usermap
ExecStart=/var/prologin/venv/bin/python presencesync_usermap.py

[Install]
WantedBy=multi-user.target
