[Unit]
Description=Master node
After=network-online.target

[Service]
Type=simple
User=concours
LimitNOFILE=262144
ExecStart=/opt/prologin/venv/bin/python -m prologin.masternode

[Install]
WantedBy=multi-user.target
