[Unit]
Description=User map generation daemon

[Service]
Type=simple
User=presencesync_usermap
ExecStart=/opt/prologin/venv/bin/python -m prologin.presencesync_clients.usermap
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
