server {
    listen 80;
    server_name bugs;

    access_log logs/bugs.access.log main;

    location / {
        proxy_pass http://localhost:20052;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
