server {
    listen 80;
    server_name minecraft-skins;

    access_log logs/minecraft.access.log main;

    location /MinecraftSkins/ {
        log_not_found off;
    	alias /var/prologin/minecraft/skins/;
    }

	location ~ ^/MinecraftCloaks/(.*\.png)$ {
        log_not_found off;
        try_files /var/prologin/minecraft/static/default_cape.png;
    }
}
