server {
    listen 80;
    server_name udbsync;

    access_log logs/udbsync.access.log main;

    location / {
        proxy_pass http://localhost:20090;
        proxy_buffering off;
        proxy_read_timeout 3600000;
        proxy_send_timeout 3600000;
    }
}
