.dl-horizontal.dl-narrow dt {
    width: 4em;
}

@media (min-width: 768px) {
    .dl-horizontal.dl-narrow dd {
        margin-left: 5em;
    }
}

.nav-stacked > li + li {
    margin-top: 0;
}

.asteriskField {
    display: none;
}

textarea.monospace, input.monospace {
    font-family: monospace;
}

i.champ-status {
    width: 1.1em;
    text-align: center;
}

.text-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.official-map {
    color: gold;
}

#replay * {
    max-width: 100%;
}

.challenge-trophy-1 {
  color: goldenrod;
}

.challenge-trophy-2 {
  color: #a8a8a8;
}

.challenge-trophy-3 {
  color: #965a38;
}

.match-matrix-won {
  background-color: #d4edda;
  text-align: center;
}

.match-matrix-lost {
  background-color: #f8d7da;
  text-align: center;
}

.match-matrix-won > a{
  color: #28a745;
  font-weight: bold;
  text-decoration: underline;
}

.match-matrix-lost > a {
  color: #dc3545;
  font-style: italic;
  text-decoration: underline;
}
