[Unit]
Description=Redmine
After=syslog.target
After=network-online.target

[Service]
Type=simple
User=redmine
Group=redmine
TimeoutSec=300
WorkingDirectory=/var/prologin/redmine
ExecStart=/usr/local/rvm/wrappers/redmine/unicorn_rails -E production \
    -c /var/prologin/redmine/script/unicorn.ru

[Install]
WantedBy=multi-user.target
