[Unit]
Description=Maintains an ip-to-login mapping to serve nginx SSO requests
After=network-online.target

[Service]
Type=simple
User=presencesync_sso
ExecStart=/opt/prologin/venv/bin/python -m prologin.presencesync_clients.sso 20131
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
