[Unit]
Description=Conntrack logging of new connections, in case of complaint
After=network-online.target

[Service]
ExecStart=/usr/bin/conntrack -E -e NEW

[Install]
WantedBy=multi-user.target
