[Unit]
# Proper roots may need to be a mount point for some applications to work within a chroot
Description=Mount bind /export/nfsroot_staging to nfsroot_staging_mnt

[Mount]
What=/export/nfsroot_staging
Where=/export/nfsroot_staging_mnt
Options=bind

[Install]
WantedBy=multi-user.target

