[Unit]
Description=HFS daemon for interface %i
After=network.target

[Service]
Type=simple
User=root
ExecStart=/var/prologin/venv/bin/python -m prologin.hfs.server %i

[Install]
WantedBy=multi-user.target
