[Unit]
Description=Master node
After=network.target

[Service]
Type=simple
User=concours
ExecStart=/var/prologin/venv/bin/python -m prologin.masternode

[Install]
WantedBy=multi-user.target
