[Unit]
Description=Machine Database
After=network-online.target postgresql.service

[Service]
Type=simple
User=mdb
WorkingDirectory=/var/prologin/mdb
ExecStart=/var/prologin/venv/bin/gunicorn -b 127.0.0.1:20000 prologin.mdb.wsgi

[Install]
WantedBy=multi-user.target
