[Unit]
Description=MDB DNS synchronization daemon
After=mdbsync.service

[Service]
Type=simple
User=mdbdns
ExecStart=/var/prologin/venv/bin/python -m prologin.mdbsync_clients.dns

[Install]
WantedBy=multi-user.target
