[Unit]
Description=MDBSync pubsub service
After=mdb.service

[Service]
Type=simple
User=mdbsync
ExecStart=/var/prologin/venv/bin/python -m prologin.mdbsync.server 20010

[Install]
WantedBy=multi-user.target
