[Unit]
Description = MDBSync pubsub service
After = mdb.service

[Service]
Type=simple
User=mdbsync
WorkingDirectory=/var/prologin/mdbsync
ExecStart=/var/prologin/venv/bin/python server.py 20010

[Install]
WantedBy=multi-user.target
