[Unit]
Description=Paste
After=network-online.target

[Service]
Type=simple
User=webservices
WorkingDirectory=/var/prologin/paste
ExecStart=/var/prologin/venv_paste/bin/gunicorn -b 127.0.0.1:20050 wsgi

[Install]
WantedBy=multi-user.target
