[Unit]
Description=User map generation daemon

[Service]
Type=simple
User=presencesync_usermap
ExecStart=/var/prologin/venv/bin/python -m prologin.presencesync_clients.usermap

[Install]
WantedBy=multi-user.target
