[Unit]
Description=presencesync client that replies to SSO authentication checks
After=network-online.target

[Service]
Type=simple
User=presencesync_sso
ExecStart=/var/prologin/venv/bin/python -m prologin.presencesync_clients.sso 20131
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
