[Unit]
Description=PresenceSync pubsub
After=mdb.service

[Service]
Type=simple
User=presencesync
ExecStart=/var/prologin/venv/bin/python -m prologin.presencesync.server 20060

[Install]
WantedBy=multi-user.target
