[Unit]
Description=Firewall updating daemon

[Service]
Type=simple
User=root
ExecStart=/var/prologin/venv/bin/python -m prologin.presencesync_clients.firewall

[Install]
WantedBy=multi-user.target
