[Unit]
Description=Redmine
After=syslog.target
After=network.target

[Service]
Type=simple
User=redmine
Group=redmine
TimeoutSec=300
ExecStart=/usr/local/rvm/gems/ruby-2.0.0-p451/bin/unicorn \
    -D -E production \
    -c /var/prologin/redmine/script/unicorn.ru /var/prologin/redmine/script/rails \
    server webrick -e production

[Install]
WantedBy=multi-user.target
