[Unit]
Description=.ssh/authorized_keys synchronization daemon
After=network.service

[Service]
Type=simple
User=root
ExecStart=/var/prologin/venv/bin/python -m prologin.udbsync_clients.rootssh

[Install]
WantedBy=multi-user.target
