[Unit]
Description=/etc/{passwd,shadow,group} synchronization daemon for nfsroot
After=network.service

[Service]
Type=simple
User=root
ExecStart=/var/prologin/venv/bin/python -m prologin.udbsync_clients.passwd /export/nfsroot

[Install]
WantedBy=multi-user.target
