[Unit]
Description=UDBSync daemon for Redmine app a.k.a. "bugs"
After=network-online.target

[Service]
Type=simple
User=redmine
WorkingDirectory=/var/prologin/redmine
ExecStart=/opt/prologin/venv/bin/python -m prologin.udbsync_clients.redmine
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
