[Unit]
Description=.ssh/authorized_keys synchronisation daemon
After=network.service

[Service]
Type=simple
User=root
WorkingDirectory=/var/prologin/udbsync_rootssh
ExecStart=/var/prologin/venv/bin/python rootssh.py

[Install]
WantedBy=multi-user.target
