[Unit]
Description=UDBSync pubsub
After=udb.service

[Service]
Type=simple
User=udbsync
ExecStart=/var/prologin/venv/bin/python -m prologin.udbsync.server 20090

[Install]
WantedBy=multi-user.target
