[Unit]
Description=/etc/{passwd,shadow,group} synchronization daemon
After=network.service

[Service]
Type=simple
User=root
ExecStart=/var/prologin/venv/bin/python -m prologin.udbsync_clients.passwd

[Install]
WantedBy=multi-user.target
