[Unit]
Description=UDBSync daemon for Django app %i
After=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/var/prologin/%i
ExecStart=/var/prologin/venv/bin/python -m prologin.udbsync_clients.django %i

[Install]
WantedBy=multi-user.target
