[Unit]
Description=Worker node
After=network.target

[Service]
Type=simple
User=cluster
# TODO(seirl): this should be done in the makefiles
Environment=JAVA_HOME=/usr/lib/jvm/default
ExecStart=/var/prologin/venv/bin/python -m prologin.workernode

[Install]
WantedBy=multi-user.target
