[Unit]
Description=Worker node
After=network.target

[Service]
Type=simple
User=cluster
ExecStart=/var/prologin/venv/bin/python -m prologin.workernode

[Install]
WantedBy=multi-user.target
