- name: install sadm repository
  git:
    repo: "https://github.com/prologin/sadm"
    dest: "{{ sadm_path }}"
    version: ansible
    update: no   # In case there are local changes people are working on

- name: create venv directory
  file:
    path: "{{ venv_dir }}"
    state: directory

- name: install venv and requirements
  pip:
    requirements: "{{ sadm_path }}/requirements.txt"
    virtualenv: "{{ venv_dir }}"
    virtualenv_command: /usr/bin/python3 -m venv

- name: install libprologin
  pip:
    name: "{{ sadm_path }}/python-lib"
    virtualenv: "{{ venv_dir }}"
    virtualenv_command: python3 -m venv

- name: create prologin configuration directory
  file:
    path: '/etc/prologin'
    state: directory
    mode: 0755

- name: create prologin service directory
  file:
    path: '/var/prologin'
    state: directory
    mode: 0755

- name: install client configurations
  template:
    src: 'prologin/{{ item.name }}'
    dest: '/etc/prologin/{{ item.name }}'
    mode: '{{ item.mode }}'
    group: '{{ item.group }}'
  loop:
    - {name: hfs-client.yml, group: hfs_public, mode: '640'}
    - {name: mdb-client.yml, group: mdb_public, mode: '640'}
    - {name: mdbsync-pub.yml, group: mdbsync, mode: '640'}
    - {name: mdbsync-sub.yml, group: mdbsync_public, mode: '640'}
    - {name: presenced-client.yml, group: presenced, mode: '640'}
    - {name: presencesync-pub.yml, group: presencesync, mode: '640'}
    - {name: presencesync-sub.yml, group: presencesync_public, mode: '640'}
    - {name: timeauth.yml, group: root, mode: '644'}
    - {name: udb-client-auth.yml, group: udb, mode: '640'}
    - {name: udb-client.yml, group: udb_public, mode: '640'}
    - {name: udbsync-pub.yml, group: udbsync, mode: '640'}
    - {name: udbsync-sub.yml, group: udbsync_public, mode: '640'}
  loop_control:
    label: '{{ item.name }}'
