.dl-horizontal.dl-narrow dt {
    width: 4em;
}

@media (min-width: 768px) {
    .dl-horizontal.dl-narrow dd {
        margin-left: 5em;
    }
}

.nav-stacked > li + li {
    margin-top: 0;
}

.asteriskField {
    display: none;
}

textarea.monospace, input.monospace {
    font-family: monospace;
}

.breadcrumb > li {
  font-size: 0.8em;
}

.breadcrumb > li + li:before {
  content: "\203a";
}


i.champ-status {
    width: 1.1em;
    text-align: center;
}

.text-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.official-map {
    color: gold;
}

.challenge-trophy-1 {
  color: goldenrod;
}

.challenge-trophy-2 {
  color: #a8a8a8;
}

.challenge-trophy-3 {
  color: #965a38;
}

.match-matrix-won {
  background-color: #d4edda;
  text-align: center;
}

.match-matrix-lost {
  background-color: #f8d7da;
  text-align: center;
}

.match-matrix-won > a{
  color: #28a745;
  font-weight: bold;
  text-decoration: underline;
}

.match-matrix-lost > a {
  color: #dc3545;
  font-style: italic;
  text-decoration: underline;
}

@keyframes tournament-winner {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

.tournament-winner {
  position: relative;
  overflow: hidden;
  background-color: palegoldenrod;
}

.tournament-winner:after {
  position: absolute;
  content: '';
  top: -33px;
  height: 100px;
  width: 50px;
  transform: rotate(45deg);
  background: linear-gradient(to right, palegoldenrod, goldenrod, palegoldenrod);
  opacity: 0.3;
  animation-timing-function: ease-in;
  animation-name: tournament-winner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.codehilite > pre {
  white-space: pre-wrap;
  background: rgba(0,0,0,0.02);
  border-color: #111;
}
